soccer_AI_venv/
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist/
build/
*.log
.DS_Store
.ipynb_checkpoints/

# Large files - don't push to GitHub
Training_Dataset/
inference_results/
output.mp4
train64/
*.pt
